#light{
    background-color: rgb(255, 255, 255);
    color:black;
}

#dark{
    background-color: rgb(50, 50, 58);
    color:white;
    
}

#dark .user_signin_signout a{
    color: white;
}
 
#dark .navbar-brand{
    color: white;
}

#dark .user_account_signout a{
     color: white;
}

#dark .footer_wrapper{
    background-color:#954949;;
    color: white;
}